
body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
  }
  
  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

div.dessin {
    width: 150px;
    height: 150px;
    background-size: cover;
}

div.chat {
    background-image: url(asset/svg/chat.svg); 
}

div.bonhommevert {
    background-image: url(asset/svg/bonhommevert.svg)
}

div.chien {
    background-image: url(asset/svg/chien.svg)
}

div.fleur {
    background-image: url(asset/svg/fleur.svg)
}

div.fleur {
    background-image: url(asset/svg/fraise.svg)
}

div.fleur {
    background-image: url(asset/svg/bouli.svg)
}

div.fleur {
    background-image: url(asset/svg/hibouchien.svg)
}

div.fleur {
    background-image: url(asset/svg/kikou.svg)
}