
body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
  }
  
  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
div.image {
    background-image: url(fleur.svg);
  }