

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Lexend Exa', sans-serif;
  }
  
  body {
    min-height: 100vh;
    background-color: #eee;
  }
  
  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

div.dessin {
    width: 200px;
    height: 200px;
    background-size: cover;  /*ajout*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.chat {
    background-image: url(asset/svg/chat.svg);
    
}

div.bonhommevert {
    background-image: url(asset/svg/bonhommevert.svg)
}

div.chien {
    background-image: url(asset/svg/chien.svg)
}

div.kikou {
    background-image: url(asset/svg/kikou.svg)
}

div.fleur {
    background-image: url(asset/svg/fleur.svg)
}

div.fraise {
    background-image: url(asset/svg/fraise.svg)
}

div.bouli {
    background-image: url(asset/svg/bouli.svg)
}

div.hibouchien {
    background-image: url(asset/svg/hibouchien.svg)
}

div.main {
    background-image: url(asset/svg/main.svg)
}

div.dedicasse {
    background-image: url(asset/svg/dedicasse.svg)
}

div.dedicasse:hover {
    background: url(asset/svg/deedicassenumero.svg);
    } 

div.dessin span  {
    transition:all 0.2s; 
    opacity:0;
        }
div.dessin:hover span {
    
          opacity:1;
        }