*{
  box-sizing: border-box;
  background-color:rgb(142, 189, 150);
}
.Topic{
  margin-left:500px;
  margin-right:400px;
  background-color: rgb(105, 153, 158);
  border-radius: 10%;
  text-decoration-color: maroon;
  text-align: center;
}
.flex-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
  background-color: rgb(133, 141, 216);
  width:700px;
  height:500px;
  margin-left:320px;
  position: relative;
}
.card{
  width:100px;
  height:100px;
  font-size:30px;
  background-color: rgb(137, 156, 107);
  line-height: 75px;
  margin-top: 10px;
  margin-left:10px;
  margin-bottom: 10px;
  transform-style: preserve-3d;
transition: transform 0.3s;
cursor: pointer;
position: relative;
}
.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back {
  background-color:rgb(rgb(0, 255, 85), green, blue);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
} 