@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url(anim.css);

body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: rgb(50, 243, 233);
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.wrong-state {
  background: red;
  animation-name: wrong;
  animation-duration: 1.2s;
}

/*input {
  background-color: #fff3;
  font-family: inherit;
  border: none;
  padding: 8px 16px;
  text-align: center;
}

div.response {
  display: flex;
  align-items: center;
  border: solid 1px white;
  border-radius: 4px;
  margin-top: 8px;
}
div.response span.input {
  padding: 8px;
}
div.response span.comment {
  font-style: italic;
}*/

#canvas {
    display: flex;
    border: none;
    border-top: 1px rgba(66, 0, 0, 0.561) solid;
    border-left: 1px rgba(66, 0, 0, 0.561) solid;
    background: linear-gradient(135deg,#ff00006b 0%, #ff0000da 100%);
    position: relative; 
    bottom: 400px;
    height: 200px;
    width: 300px;
}
