@import url(../../../common/css/style.css);
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');

body {
  background-color: rgb(252, 234, 253);
  font-family: 'Gemunu Libre', sans-serif;
  --token-size: 96px;
}

div.number-token {
  position: absolute;
  width: var(--token-size);
  height: var(--token-size);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
}