@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
}

body {
    background-color: #eee;
 
}

div.carte {
	background-image: url(assets/recto.svg);
	width: 155px;
	height: 220px;
	background-size: cover;
	position: absolute;
	display: flex;
	align-items: center;
	cursor: pointer;
}

div.carte:hover {
    background: url(assets/verso.svg);
	color: rgb(211, 20, 20);
	
}

div.carte:hover span {
	display: block;
}

span.number {
    font-family: 'Anton', sans-serif; 
    font-weight: 700;
    font-size: 300%;
	margin-left:20%;
	display: none;
}

span.response {
    font-style: normal;
    font-weight: 700;
    font-size: 20%;
	margin-left:20%;
}

.higher {
	background: url(assets/verso.svg);
	font-family: 'Anton', sans-serif; 
	font-size: 70pt;
	width: 155px;
	height: 220px;
	background-size: cover;
	position: absolute;
	display: flex;
	align-items: center;
	color: rgb(162, 0, 255);
}

.lower {
	background: url(assets/verso.svg);
	font-family: 'Anton', sans-serif; 
	font-size: 70pt;
	width: 155px;
	height: 220px;
	background-size: cover;
	position: absolute;
	display: flex;
	align-items: center;
	color: rgb(255, 0, 212);
}

.win {
	background: url(assets/Backroud.svg);
	font-family: 'Anton', sans-serif; 
	font-size: 70pt;
	width: 155px;
	height: 220px;
	background-size: cover;
	position: absolute;
	display: flex;
	align-items: center;
	color: rgb(255, 0, 0);
	
}
