.screen.home {
  display: flex;
  flex-direction: column;
  background-image: url(assets/1.jpeg);
  background-size: cover;
  background-position: center;
}

.screen.home h1 {
  font-family: 'Russo One', sans-serif;
}

.screen.home input {
  text-align: center;
}

.screen.home main {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen.home footer {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  color: red;
  font-size: 'Ruso One', sans serif;
  background-color: #080808; 
  border: 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 65px;
  width:80px;
  height:19px;

}