
div.screen.result {
  padding: 64px;
  background-color: rgb(43, 24, 150);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.screen.result .input-number {
  font-family: 'Russo One', sans-serif;
  font-size: 200px;
  flex: 1 0 0;
}

div.screen.result .illustration {
  flex: 1 0 0;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
}