@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gemunu+Libre:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url(home.css);
@import url(result.css);

body, body * {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

