@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gemunu+Libre:wght@200&display=swap');
body, html {
  height: 100%;
  background-image: url("1.jpeg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-center {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
h1 {
    font-size: 40px;
    background-color:rgb(106, 158, 127);
    color: #ac8a8a47; 
    text-align: center;
    padding: 0 20px;
    
}
h2 {
  font-size: 48px;
}

p span {
  font-family: 'Inconsolata', monospace;
  display: block;
  background-color: #ff572247;
  border: solid 2px #ff5722;
  border-radius: 16px;
  padding: 16px;
}

.bounce {
  animation: bounce-anim 1s cubic-bezier(0.41, 1.46, 0.35, 0.9);
}

@keyframes bounce-anim {
  from {
    transform: rotate(-30deg) scale(0%);
  }

  to {
    transform: rotate(0deg) scale(100%);
  }
}