@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #F7F2E8;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding : 10px 10px;
}

form>input{
  margin: 5px 0px;
  text-decoration: inherit;
  border:none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  border: 2px solid #FDCCBA;
  color: #000000;
  padding: 2px;
  font-size: 2rem;
  align-items:center;
  font-weight: 600;
  max-width: 100px;
  text-align: center;
  -webkit-appearance: none;

}
.btn{
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-decoration: inherit;
  border:none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  color: #000000;
  font-size: 22px;
  align-items:center;
  font-weight: 600;
  max-width: 300px;
  text-align: center;
  -webkit-appearance: none;


}

.name {
  padding: 20px;
}

.btn:hover{
  color: #251866;
}
.carousel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel>img{
  max-width: 300px;
  height: auto;
  border-radius: 2%;
  margin-bottom: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}