body{
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding : 10px 10px;
}

form>input{
  margin: 5px 0px;
  text-decoration: inherit;
  border:none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
  border: 2px solid #9c88ff;
  color: #9c88ff;
  font-size: 3rem;
  align-items:center;
  font-weight: 600;
  max-width: 100px;
  text-align: center;
  -webkit-appearance: none;

}
.btn{
  margin: 5px 0px;
  text-decoration: inherit;
  border:none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
  border: 3px solid #9c88ff;
  color: #9c88ff;
  font-size: 2rem;
  align-items:center;
  font-weight: 600;
  max-width: 300px;
  text-align: center;
  -webkit-appearance: none;


}
.btn:hover{
  color: white;
  background-color: #9c88ff;
}
.carousel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel>img{
  max-width: 300px;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}